@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read  overflow: hidden; */
  .container {
    width: 300px;
  }
}
img {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #449C8A;
  }
.container{}

#space{
  margin: 50px
  background-color: #BEE3DB;
}
#img{
  background-color: #BEE3DB;
  box-shadow: 0px 6px #BEE3DB;
  border-radius: 150px;

}
.social-nets{
  font-size: : 500px;
}
.header{
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
}

.text{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
}

.icon{
  font-size: 70px;
  padding: 20px;
  color:#BEE3DB;
}
.icon:hover{
  color: black;
}
body {
  background-color: #BEE3DB;
}
div{
  box-shadow: 0px 6px #5A8784;
  border-radius: 10px;
  padding: 20px;
  margin: 40px 350px;
  background-color: #89B0AE;
  text-align: center;
}


